#header-section {
    background-color: #ffff;
    box-shadow: 0px 0px 5px #464646;
    height: 100px;
  }
  #header-section #nav-section #img-a {
    color: transparent;
  }
  #header-section #nav-section a img {
    margin-left: 30px;
    margin-top: 20px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }
  #header-section #nav-section a img:hover {
    cursor: pointer;
  }
  #header-section #nav-section #hmb-menu {
    display: none;
  }
  .nav-ul {
    display: inline-block;
    float: right;
  }
  .nav-ul .nav-li {
    display: inline-block;
  }