#footer-section {
  background-color: #fff;
  height: 100px;
  box-shadow: 0px 0px 3px #464646;
  border-top: 2px solid #d8c09e;
  .footer-container {
    img {
      height: auto;
      width: 25px;
      margin-left: 30px;
      margin-top: 25px;
    }
    .social-logos {
      float: right;
      margin-right: 30px;
      margin-top: 38px;
      a {
        font-size: 1.4rem;
        margin-left: 25px;
        color: #d8c09e;
      }
    }
  }
}
@media all and (min-width: 768px) {
  #footer-section {
    .footer-container {
      .social-logos {
        a:hover {
          color: #aa867b;
          transition: 0.55s;
        }
      }
    }
  }
}
