#main-section {
  .parallax {
    background-image: url("../../assets/parallax-wallpaper.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    img {
      width: 270px;
      margin-top: 230px;
    }
  }
}
#description-section {
  background-color: #ffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
  .description-container {
    padding: 30px;
    p,
    ul {
      color: #d9c09f;
      font-family: "Recoleta";
      font-size: 1.4rem;
    }
  }
}
#middle-section {
  .parallax {
    background-image: url("../../assets/parallax-wallpaper.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
      color: #fff;
      font-family: "Recoleta";
      letter-spacing: 9px;
      display: inline-block;
      margin-top: 130px;
      text-transform: uppercase;
    }
  }
}
@include desktop {
  #middle-section {
    .parallax {
      h2 {
        font-size: 2rem;
      }
    }
  }
}
