#productsBody-container {
  #intro-section {
    .intro-container {
      background-image: url("../../assets/parallax-wallpaper.jpg");
      min-height: 600px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      .intro-h2 {
        color: #fff;
        font-weight: 400;
        font-family: "Recoleta";
        letter-spacing: 9px;
        display: inline-block;
        margin-top: 270px;
        text-transform: uppercase;
      }
    }
  }
}
@media all and (min-width: 1024px) {
  #productsBody-container {
    #intro-section {
      .intro-container {
        .intro-h2 {
          font-size: 2rem;
        }
      }
    }
  }
}
