@font-face {
  font-family: "Recoleta";
  src: url(../../assets/fonts/RecoletaAlt-Medium.woff) format("woff");
}

h2 {
  font-size: 1.5rem;
}
@import "components/__loader";
@import "components/__navbar";
@import "components/__footer";
@import "components/_products_section";
@import "views/__index.scss";
@import "views/__products";